@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
ul, li {

	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#base930 {
	height: 700px;
	width: 930px;
/*	border: 1px solid #E4DCD3; */
	margin-right: auto;
	margin-left: auto;
}
#base930 #inicio_superior {
	height: 65px;
	text-align: center;
	color: #A28769;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	margin-top: 65px;
	letter-spacing: 4px;
}
#base930 #interior_superior {
	height: 155px;
}

#base930 #inicio_rotacion {
	height: 328px;
	overflow: hidden;
}
#base930 #interior_superior #isologo {
	margin-top: 40px;
	margin-left: 90px;
	width: 200px;
	float: left;
}
#base930 #interior_superior #brujula {
	float: left;
	margin-top: 40px;
	margin-left: 400px;
}
#base930 #interior_superior #camara {
	float: left;
	margin-top: 40px;
}
#base930 #interior_botonera {
	height: 38px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-top-style: dotted;
	border-bottom-style: dotted;
	border-top-color: #A28769;
	border-bottom-color: #A28769;
	margin-right: 95px;
	margin-left: 95px;
}
#base930 #interior_contenido {
	height: 415px;
	padding-top: 30px;
	padding-right: 95px;
	padding-bottom: 55px;
	padding-left: 95px;
}
#base930 #interior_contenido p {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #A28769;
}
#base930 #interior_contenido li {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #A28769;
}
#base930 #interior_contenido #contenido_texto #izquierda {
	width: 400px;
	float: left;
}
#base930 #interior_contenido #contenido_texto #derecha {
	width: 340px;
	float: left;
}


#base930 #interior_contenido #contenido_texto {
	height: 145px;
	margin-bottom: 20px;
	background-color: #FFF;
	text-align: justify;
}


#base930 #inicio_inferior {
	height: 292px;
	text-align: center;
	color: #A28769;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	letter-spacing: 4px;
}
#base930 #inicio_inferior a {
	color: #A28769;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	letter-spacing: 4px;
	text-decoration: none;
}
#base930 #interior_contenido #contenido_texto p a {
	text-decoration: none;
	color: A28769;
}
#base930 #interior_contenido #contenido_texto .colorletra {
	color: A28769;
	text-decoration: underline;
}
#base930 #interior_contenido #contenido_texto .colorletra a {
	color: A28769;
	text-decoration: underline;
}
#base930 #interior_contenido #contenido_mapa {
	height: 313px;
	margin-bottom: 20px;
	background-color: #FFF;
}
#base930 #interior_contenido #contenido_album {
	height: 409px;
	margin-bottom: 20px;
}
#base930 #interior_contenido #contenido_texto #formulario {
	width: 450px;
	float: left;
}
#base930 #interior_contenido #contenido_texto #formulario #form1 input, #base930 #interior_contenido #contenido_texto #formulario #form1 #Comentario {
	font-size: 12px;
	color: #000;
	border: 1px solid #A28769;
}


#base930 #interior_contenido #contenido_texto #tarifas {
	width: 290px;
	float: left;
}
.error {
	visibility:visible;
	background-color: #E4DCD3;
	border: 1px solid #F00;
}
#base930 #interior_contenido #contenido_album .lightbox img{
	height: 67px;
	width: 100px;
	margin-bottom: 14px;
	margin-right: 1px;
	margin-left: 1px;
}
#base930 #interior_contenido #contenido_texto #formulario #atencion {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FC0;
	padding: 10px;
	margin-left: 0px;
	margin-right: 30px;
}

img {
	border-radius: 15px;
	background: #fff;
}

@font-face { font-family: BlackJar; src: url('BLACKJAR.TTF'); } 
.logo{
	font-family: BlackJar;
	color: #A28769;
	padding: 0px;
	font-size: 60px;
	text-shadow: 1px 1px 1px grey ;
}
.sublogo{
	padding: 0px;
	font-size: 20px;
	text-shadow: 1px 1px 1px grey ;
}